body {
  border: 1px solid black;
  padding: 20px 20px 0px 20px;
  height: 968px;
  width: 1105px;
}

body > div {
  margin-bottom: 40px;
}

.top {
  display: flex;
  align-items: flex-end;
  height: 225px;
  border: 5px solid black;
  width: auto;
}

.top > * {
  margin-left: 10px;
  margin-right: 45px;
  margin-bottom: 15px;
}

.purple-rect {
  background-color: #8a2be2;
  height: 150px;
  width: 50px;
}

.green-rect {
  background-color: #228b22;
  height: 200px;
  width: 400px;
}

.blue-circ {
  background-color: #87ceeb;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.middle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  border: 5px dotted black;
  width: auto;
}

.inner-pink-rect__green {
  width: 1000px;
  height: 200px;
  background-color: #fffacd;
  box-shadow: 10px 10px 4px #404040;
}

.center {
  width: 100%;
  display: flex;
  justify-content: center;
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgrey;
  width: 530px;
  height: 315px;
}

.bottom > div {
  text-align: center;
  width: 60%;
  font-size: 30px;
  font-weight: 700;
  color: #000080;
  font-family: serif;
  letter-spacing: 0.8ch;
}
